*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/baselineprofile/build
*.apk
*.aab
*.ap_
*.dex
*.class
*.log

app-debug.zip
.claude/
